/* Dracula Colour Scheme Colours */

:root {
	--background: #282a36;
	--current: #44475a;
	--foreground: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;
}

/* Colours for Syntax Highlighting */

.hll, .highlight .hll	{ background-color: var(--background) } /* Background */
.c, .highlight .c		{ color: var(--comment) } /* Comment */
.err, .highlight .err	{ color: var(--foreground); border: 1px solid var(--red) } /* Error */
.esc, .highlight .esc	{ color: var(--foreground) } /* Escape */
.g, .highlight .g		{ color: var(--foreground) } /* Generic */
.k, .highlight .k		{ color: var(--cyan) } /* Keyword */
.l, .highlight .l		{ color: var(--foreground) } /* Literal */
.n, .highlight .n		{ color: var(--foreground) } /* Name */
.o, .highlight .o		{ color: var(--pink) } /* Operator */
.x, .highlight .x		{ color: var(--foreground) } /* Other */
.p, .highlight .p		{ color: var(--foreground) } /* Punctuation */
.ch, .highlight .ch		{ color: var(--comment) } /* Comment.Hashbang */
.cm, .highlight .cm		{ color: var(--comment) } /* Comment.Multiline */
.cp, .highlight .cp		{ color: var(--comment) } /* Comment.Preproc */
.cpf, .highlight .cpf	{ color: var(--comment) } /* Comment.PreprocFile */
.c1, .highlight .c1		{ color: var(--comment) } /* Comment.Single */
.cs, .highlight .cs		{ color: var(--red); font-weight: bold } /* Comment.Special */
.gd, .highlight .gd		{ color: var(--red) } /* Generic.Deleted */
.ge, .highlight .ge		{ color: var(--foreground); font-style: italic } /* Generic.Emph */
.gr, .highlight .gr		{ color: var(--red) } /* Generic.Error */
.gh, .highlight .gh		{ color: var(--comment); font-weight: bold } /* Generic.Heading */
.gi, .highlight .gi		{ color: var(--green) } /* Generic.Inserted */
.go, .highlight .go		{ color: var(--comment) } /* Generic.Output */
.gp, .highlight .gp		{ color: var(--comment); font-weight: bold } /* Generic.Prompt */
.gs, .highlight .gs		{ color: var(--foreground); font-weight: bold } /* Generic.Strong */
.gu, .highlight .gu		{ color: var(--purple); font-weight: bold } /* Generic.Subheading */
.gt, .highlight .gt		{ color: var(--red) } /* Generic.Traceback */
.kc, .highlight .kc		{ color: var(--cyan) } /* Keyword.Constant */
.kd, .highlight .kd		{ color: var(--green) } /* Keyword.Declaration */
.kn, .highlight .kn		{ color: var(--pink) } /* Keyword.Namespace */
.kp, .highlight .kp		{ color: var(--green) } /* Keyword.Pseudo */
.kr, .highlight .kr		{ color: var(--green) } /* Keyword.Reserved */
.kt, .highlight .kt		{ color: var(--green) } /* Keyword.Type */
.ld, .highlight .ld		{ color: var(--foreground) } /* Literal.Date */
.m, .highlight .m		{ color: var(--cyan) } /* Literal.Number */
.s, .highlight .s		{ color: var(--yellow) } /* Literal.String */
.na, .highlight .na		{ color: var(--foreground) } /* Name.Attribute */
.nb, .highlight .nb		{ color: var(--cyan) } /* Name.Builtin */
.nc, .highlight .nc		{ color: var(--purple) } /* Name.Class */
.no, .highlight .no		{ color: var(--foreground) } /* Name.Constant */
.nd, .highlight .nd		{ color: var(--foreground) } /* Name.Decorator */
.ni, .highlight .ni		{ color: var(--foreground) } /* Name.Entity */
.ne, .highlight .ne		{ color: var(--yellow); font-weight: bold } /* Name.Exception */
.nf, .highlight .nf		{ color: var(--foreground) } /* Name.Function */
.nl, .highlight .nl		{ color: var(--foreground) } /* Name.Label */
.nn, .highlight .nn		{ color: var(--foreground) } /* Name.Namespace */
.nx, .highlight .nx		{ color: var(--foreground) } /* Name.Other */
.py, .highlight .py		{ color: var(--foreground) } /* Name.Property */
.nt, .highlight .nt		{ color: var(--foreground) } /* Name.Tag */
.nv, .highlight .nv		{ color: var(--purple) } /* Name.Variable */
.ow, .highlight .ow		{ color: var(--green) } /* Operator.Word */
.w, .highlight .w		{ color: var(--foreground) } /* Text.Whitespace */
.mb, .highlight .mb		{ color: var(--purple) } /* Literal.Number.Bin */
.mf, .highlight .mf		{ color: var(--purple) } /* Literal.Number.Float */
.mh, .highlight .mh		{ color: var(--purple) } /* Literal.Number.Hex */
.mi, .highlight .mi		{ color: var(--purple) } /* Literal.Number.Integer */
.mo, .highlight .mo		{ color: var(--purple) } /* Literal.Number.Oct */
.sa, .highlight .sa		{ color: var(--yellow) } /* Literal.String.Affix */
.sb, .highlight .sb		{ color: var(--yellow) } /* Literal.String.Backtick */
.sc, .highlight .sc		{ color: var(--yellow) } /* Literal.String.Char */
.dl, .highlight .dl		{ color: var(--yellow) } /* Literal.String.Delimiter */
.sd, .highlight .sd		{ color: var(--yellow) } /* Literal.String.Doc */
.s2, .highlight .s2		{ color: var(--yellow) } /* Literal.String.Double */
.se, .highlight .se		{ color: var(--yellow) } /* Literal.String.Escape */
.sh, .highlight .sh		{ color: var(--yellow) } /* Literal.String.Heredoc */
.si, .highlight .si		{ color: var(--yellow) } /* Literal.String.Interpol */
.sx, .highlight .sx		{ color: var(--yellow) } /* Literal.String.Other */
.sr, .highlight .sr		{ color: var(--yellow) } /* Literal.String.Regex */
.s1, .highlight .s1		{ color: var(--yellow) } /* Literal.String.Single */
.ss, .highlight .ss		{ color: var(--yellow) } /* Literal.String.Symbol */
.bp, .highlight .bp		{ color: var(--cyan) } /* Name.Builtin.Pseudo */
.fm, .highlight .fm		{ color: var(--foreground) } /* Name.Function.Magic */
.vc, .highlight .vc		{ color: var(--purple) } /* Name.Variable.Class */
.vg, .highlight .vg		{ color: var(--purple) } /* Name.Variable.Global */
.vi, .highlight .vi		{ color: var(--purple) } /* Name.Variable.Instance */
.vm, .highlight .vm		{ color: var(--purple) } /* Name.Variable.Magic */
.il, .highlight .il		{ color: var(--cyan) } /* Literal.Number.Integer.Long */

body, html,
.history h1 strong,
.edit h1 strong,
.results h1 strong,
.compare h1 strong,
.highlight,
#gollum-editor textarea,
#wiki-history table tr td.author a {
	background-color: var(--background);
	color: var(--foreground);
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	color: var(--purple);
}

.tableblock {
	background-color: var(--current);
}

.header-title {
	color: var(--foreground)
}

.markdown-body pre {
	background-color: var(--current);
}

.Box,
.Box-header,
.Box-row {
	background-color: var(--background);
}

/* Highlight of search results */
.bg-green-light {
	background-color: var(--purple) !important;
	;
}

.Box-row:hover {
	background-color: var(--current);
}

/* Regular buttons */
.btn {
	background-color: var(--current);
	color: var(--foreground);
	border-color: var(--purple);
}
.btn:hover {
	background-color: var(--background);
	color: var(--foreground);
	border-color: var(--purple);
}

/* Button with symbols */
.btn.btn-outline {
	background-color: var(--current);
	color: var(--foreground);
	border-color: var(--purple);
}
.btn.btn-outline:hover {
	background-color: var(--background);
}

/* Buttons with hash in file history */
.btn.btn-outline.text-mono {
	background-color: var(--current);
	color: var(--foreground);
	border-color: var(--purple);
	height: 32px;
	line-height: 24px;
}
.btn.btn-outline.text-mono:hover {
	background-color: var(--background);
}


.btn.primary {
	background-color: var(--current);
	color: var(--foreground);
	border-color: var(--purple);
}

/* Buttons in header and footer */
.btn.btn-sm {
	background-color: var(--current);
	color: var(--foreground);
	border-color: var(--purple);
	height: 32px;
	line-height: 24px;
}
.btn.btn-sm:hover {
	background-color: var(--background);
}
.btn.BtnGroup-item.btn-sm {
	background-color: var(--current);
	color: var(--foreground);
	border-color: var(--purple);
}
.btn.BtnGroup-item.btn-sm:hover {
	background-color: var(--background);
}

/* Center trash button */
.btn.btn-sm.float-right.delete-file {
	height: 32px;
	margin-top: -7px;
}

.form-control {
	height: 32px;
	font-size: 12px;
}

/* Links to previous and next page */
#prev.previous_page,
#next.next_page {
	color: var(--pink);
}
#prev.previous_page.disabled,
#next.next_page.disabled {
	color: var(--comment);
}

/* Tab bar in edit mode */
.tabnav {
	border-color: var(--purple);
	border-radius: 6px 6px 0 0;
}

/* Inactive tab */
.tabnav-tab {
	background-color: var(--comment);
	border-color: var(--purple);
	border-radius: 6px 6px 0 0;
	color: var(--foreground) !important;
}

/* Active tab */
.tabnav-tab.selected, .tabnav-tab[aria-selected="true"], .tabnav-tab[aria-current]:not([aria-current="false"]) {
	background-color: var(--background);
	border-color: var(--purple);
	border-radius: 6px 6px 0 0;
	color: var(--foreground);
}

/* All SVG symbols */
.octicon.octicon-trash,
.octicon.octicon-bold,
.octicon.octicon-italic,
.octicon.octicon-code,
.octicon.octicon-list-unordered,
.octicon.octicon-list-ordered,
.octicon.octicon-quote,
.octicon.octicon-horizontal-rule,
.octicon.octicon-link,
.octicon.octicon-image,
.octicon.octicon-arrow-both,
.octicon.octicon-question {
	color: var(--foreground);
}

#gollum-dialog-dialog-inner {
	background-color: var(--background);
}

#gollum-dialog-dialog-body,
#gollum-dialog-dialog-title h4 {
	color: var(--foreground);
}

/* Buttons on "Create New Page" dialog */
#gollum-dialog-action-ok,
#gollum-dialog-action-cancel {
	background-color: var(--current);
	border-color: var(--purple);
	text-align: center;
	line-height: initial;
}

#gollum-dialog-dialog-body fieldset .field label {
	color: var(--foreground);
}

#gollum-dialog-dialog-body fieldset .field span.context {
	color: var(--comment);
}

#gollum-editor-help {
	border-color: var(--purple);
	border-radius: 6px 6px 0 0;
}

#gollum-editor-help-content p {
	color: var(--background);
}

#gollum-autorecover-msg {
	background-color: var(--purple);
}

#edit-content,
#gollum-editor,
#gollum-editor-form,
#gollum-editor-function-bar,
#gollum-editor-format-selector,
#gollum-editor-fields {
	background-color: var(--background);
	border-color: var(--purple);
	border: none !important;
}

#gollum-editor #gollum-editor-function-bar #gollum-editor-format-selector select {
	background-color: var(--current);
	border-color: var(--purple);
	color: var(--foreground);
}

#head #searchbar #searchbar-fauxtext input#search-query,
#gollum-editor .singleline input,
#head #searchbar #searchbar-fauxtext {
	background: var(--current);
	border-color: var(--purple);
	color: var(--pink);
}

#head #searchbar #searchbar-fauxtext input#search-query.ph,
#gollum-editor .singleline input.ph,
#wiki-history table tr td.commit-name span.time-elapsed,
#footer p#last-edit,
#gollum-editor #gollum-editor-function-bar #gollum-editor-format-selector label,
.history h1 {
	color: var(--foreground);
}

#gollum-editor-function-buttons {
	padding-top: 0.2em !important;
}

#head #searchbar #searchbar-fauxtext #search-submit span {
	background-position: -431px -28px;
}

#head #searchbar #searchbar-fauxtext #search-submit:hover span {
  background-position: -431px -3px;
  padding: 0;
}

.markdown-body code,
.markdown-body tt {
	border: 1px solid var(--purple);
	background-color: var(--background);
}

#wiki-history table tr {
	background-color: var(--background);
}

#wiki-history table tr:nth-child(2n),
#wiki-history table tr.alt-row {
	background-color: var(--background);
}

#wiki-history table tr.selected {
	background-color: var(--cyan) !important;
}

/* Don't change colour when hovering over link or when already visited */
a:link,
a:hover,
a:visited {
	color: var(--pink);
}

/* Absent links */
.markdown-body a.absent {
	color: var(--pink) !important;
}

.highlight .err,
.highlight .gd,
.highlight .gd .x,
.highlight .gi,
.highlight .gi .x,
.highlight .gc {
	background-color: var(--background);
}

.compare .data td.line_numbers {
	background: var(--current);
	border-color: var(--foreground);
	color: var(--foreground);
}

.compare .data {
	border-color: var(--purple);
}

@media all and (min-width: 940px) {
	#gollum-editor {
		border: 1px solid var(--purple);
		background: var(--background);
	}
}

@media all and (min-width: 940px) {
	a#function-bold:hover span { background-position: 0 0; }
	a#function-italic:hover span { background-position: -27px 0; }
	a#function-underline:hover span { background-position: -54px 0; }
	a#function-code:hover span { background-position: -82px 0; }
	a#function-ul:hover span { background-position: -109px 0; }
	a#function-ol:hover span { background-position: -136px 0; }
	a#function-blockquote:hover span { background-position: -163px 0; }
	a#function-hr:hover span { background-position: -190px 0; }
	a#function-h1:hover span { background-position: -217px 0; }
	a#function-h2:hover span { background-position: -244px 0; }
	a#function-h3:hover span { background-position: -271px 0; }
	a#function-link:hover span { background-position: -298px 0; }
	a#function-image:hover span { background-position: -324px 0; }
	a#function-help:hover span { background-position: -405px 0; }

	a#function-bold span { background-position: 0 -28px; }
	a#function-italic span { background-position: -27px -28px; }
	a#function-underline span { background-position: -54px -28px; }
	a#function-code span { background-position: -82px -28px; }
	a#function-ul span { background-position: -109px -28px; }
	a#function-ol span { background-position: -136px -28px; }
	a#function-blockquote span { background-position: -163px -28px; }
	a#function-hr span { background-position: -190px -28px; }
	a#function-h1 span { background-position: -217px -28px; }
	a#function-h2 span { background-position: -244px -28px; }
	a#function-h3 span { background-position: -271px -28px; }
	a#function-link span { background-position: -298px -28px; }
	a#function-image span { background-position: -324px -28px; }
	a#function-help span { background-position: -405px -28px; }
}

/* Don't let pygmentize's definitions mess up MathJax */
.MathJax * {
	color: var(--foreground) !important;
}
